<h3>Information on topic {{label}}</h3>
<div>
  <h4>Total mentions: {{volume}}</h4>
  <p>Positive mentions: {{sentiment.positive}}</p>
  <p>Neutral mentions: {{sentiment.neutral}}</p>
  <p>Negative mentions: {{sentiment.negative}}</p>
</div>
